body {
    /* default font family, font height and line height */
    font-family: 'Poetsen One', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    font-size: 1.2rem;
}

.main{
    background-color: rgb(228, 239, 245);
}
/* remove default underline of 'a' tag */
.link{
    text-decoration: none;
}

/* unique color for all prizes */
.prize{
    color: rgb(8, 134, 202);
}

/* hype logo */
.logo {
    width: 4rem;
    padding: 1rem;
    animation: zoomInOut 1.5s ease 0.5s;
}

/* row flex for logo and nav */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(8, 134, 202);
    justify-content: space-around;
}

/* row flex for navigation panel */
.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
}

/* style for each link in navigation panel */
.navlink {
    text-decoration: none;
    color: white;
    margin: 1rem 2vw;
    padding: 0.4rem;
    transition: all 0.2s;
}

.navlink:hover {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
}

/* the main container of the product section */
.mainSection {
    padding: 2rem;
    text-align: center;
}

/* first half of product section with background image */
.entice {/*goal: viewers should be enticed*/
    background-image: url("./pictures/all\ in\ one.webp");
    background-size: contain;
    background-blend-mode: overlay;
    padding: 2rem;
    color: rgb(95, 169, 208);
    text-align: left;
    animation: rightToLeft 1.5s ease 2s;
}

/* message in .entice */
.headline {
    font-size: 3.5rem;
    font-weight: 1000;
    padding-left: 3rem;
}

/* message in .entice */
.call {
    font-size: 2rem;
}

/* secound part of the product section */
.products{/*row flex for arrange of all the products*/
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

/*each product*/
.product{
    max-height: 15rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 1s;
}

/*playing with your favorite product using different animations*/
.left:hover{
    transform: rotate(-50deg);
}

.up:hover{
    transform: translateY(-5rem);
}

.right:hover{
    transform: rotate(50deg);
}

.skew:hover{
    transform: skew(10deg);
}

.right-down:hover{
    transform: translateX(1rem);
}

/* style for the two buttons */
.button {
    display: block;
    background-color: rgb(8, 134, 202);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0 auto; /*always centered*/
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.2);
    color: white;
    border-color: rgb(8, 134, 202);
    border-radius: 0.5rem;
}


.featureContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.features{
    padding: 1rem;
}
.num,
.feature {
    display: inline;
    font-size: 1.5rem;
}

.f-img {
    width: 20rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.f-img:hover{
    animation: rotate 1.5s;
}

.hypeture {
    margin-bottom: 2.5rem;
    transition: 0.5s;
}

.hypeture:hover{
    transform: translateX(3rem);
}

.hypeture-imgs {
    display: flex;
    flex-direction: column;
}

.num {
    padding: 1rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(8, 134, 202);
}

.sectionTitle {
    font-size: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(170, 206, 226);
    margin: 1rem;
    max-width: 15rem;
    height: 32rem;
    padding: 2rem;
    text-align: center;
}

.block{
    display: block;
}

.card:hover{
    border: 2px solid rgb(8, 134, 202);
}

.name {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.person {
    display: block;
    margin: 1rem auto;
    margin-top: 2rem;
    border-radius: 50%;
    max-width: 10rem;
    transition: .5s;
}

.person:hover{
    transform: scale(1.2);
}

.signUp{
    padding: 1rem;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 60rem;
    margin: 2rem auto;
    background-color: rgb(170, 206, 226);
    border: 2px solid rgb(8, 134, 202);
}

.label {
    display: block;
    margin-top: 0.4rem;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.8rem 0;
    border: 2px solid rgb(8, 134, 202);
    border-radius: 4px;
}

.footer{
    background-image: url(./pictures/footer-img.avif);
    height: 10rem;
    padding: 1rem;
}

.copyRight{
    color: rgb(37, 108, 136);
    font-size: 1.7rem;
    background-color: rgba(170, 206, 226, 0.459);
    padding: 0.3rm;
    text-align: center;
}

.video{
    display: block;
    max-width: 100%;
    height: 20rem;
    margin: 0 auto;
}

@keyframes rightToLeft {
    0%{
        transform: translateX(80vw);
    }

    60%, 100%{
        transform: translateX(0rem);
    }

    80%{
        transform: translateX(20vw);
    }
}

@keyframes zoomInOut {
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (min-width: 50rem) {
    .navBar {
        font-size: 1.5rem;
    }
}